*{
    box-sizing: border-box;
}
html,body{
    margin: 0px;
    padding: 0px;
}



.header
{
    background-color: lightblue;
    height: 70px;
    display: flex;
    justify-content: space-between;

}
.header .My
{
    
    height: 70px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
}
.chat
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
}
.innerchat
{
    background-color:blue;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.sign
{
color: white;
font-size: 40px;
}
.gap
{
    margin: 7px;
}
.main
{
    background-color:white;
    height: 700px;
    position: relative;
    

}
.dialogbox
{
    /* background-color: blue;
    height: 300px;
    width: 300px;
    display: none; */
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    display: flex;
    background-color: rgba(47, 126, 190, 0.24);
    
}
.dialogbox .box
{
    background-color: yellowgreen;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: end;
}
.dialogbox .text
{
  width: 300px;
  height: 200px;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.popup
{
    position: fixed;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    display: none;
    background-color: rgba(47, 126, 190, 0.24);
}
.popup .innerpopup
{
    height: 300px;
    width:  300px ;
    background-color: blue;
    position: relative;
    
}
    
    

    
}
.popup .innerpopup .add
{
    background-color: rgb(36, 158, 206);
    height: 50px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
   
    
}
.add
{
    color: white;
}
.cross
{
    position: absolute;
    right: -10px;
    top: -10px;
    background-color: red;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;


}

.text textarea
{
    border-radius: 5%;
}
 

.first
{
    background-color: aqua;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 12px;
}
.second
{
    background-color: red;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 12px;
}
.third
{
    background-color: yellow;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 12px;
}
.innermain
{
    background-color: blue;
    height: 70px;
    width: 70px;
    
    
}
